@use "../abstract/" as *;
@use "../base/" as *;

.contactBanner {
  padding: 4rem 0;
  background:
    linear-gradient(to bottom, $clr--secondary 50%, transparent 50%),
    center/cover no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-family: $font-secondary;
      text-align: center;
      margin-bottom: 3rem;
    }
    img {
      width: 1500px;
      height: 900px;
      object-fit: cover;
      margin: 0 auto;
    }
  }
}
.contactInfo {
  &__wrapper {
    padding: 3rem;
    @include gridFixed(2, 40rem);

    h3 {
      font-family: $font-secondary;
      margin-bottom: 2rem;
    }
    p {
      margin-top: 1rem;
    }
  }
  .contact__form {
    input,
    textarea {
      padding: 1rem;
      border: 1px solid $clr--dark;
      font-size: 16px;
      width: 250%;
      margin-bottom: 1rem;
    }
    textarea {
      padding: 4rem;
    }
  }
  &__left {
    a {
      color: $clr--light;
    }
  }
  &__right {
    background-color: $clr--primary;
    width: 400px;
    height: 500px;
    padding: 4rem;

    .email,
    .phone,
    .address {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      color: $clr--light;
    }
    h4 {
      color: $clr--light;
      font-family: $font-secondary;
    }
    p {
      color: $clr--light;
    }
  }
}
