@use "../abstract/" as *;
@use "../base/" as *;

.recipeBanner {
  background-color: $clr--secondary;
  height: 65rem;
  margin-bottom: 10rem;
  padding: 4rem 0;
  position: relative;
  &__wrapper {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include between;
    align-items: end;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $clr--dark;

    h1 {
      font-family: $font-secondary;
      text-align: left;
      width: 60%;
    }

    p {
      padding-bottom: 0.5rem;
    }
  }
  &__subtitle {
    @include between;
    padding: 1rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $clr--dark;
  }

  &__ingredients {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    img {
      height: 750px;
      width: 900px;
    }

    .details {
      padding: 2rem;
      background-color: $clr--primary;
      color: $clr--light;
      font-size: 25px;
      h3 {
        padding: 1rem 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
  @include mediaQuery(520px) {
    height: auto;
    margin-bottom: 5rem;
    padding: 8rem 1.5rem;

    &__title {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      h1 {
        width: 100%;
        font-size: 2rem; // adjust if needed
      }
    }

    &__subtitle {
      flex-direction: column;
      gap: 1rem;
    }

    &__ingredients {
      flex-direction: column;

      .details {
        width: 100%;
        padding: 1.5rem;
      }
    }
  }
}
.recipeBody {
  padding: 2rem 0;
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 0.5rem;
    font-family: $font-secondary;
    color: $clr--primary;

    &::after {
      content: "";
      flex: 1;
      height: 0.1rem;
      background-color: $clr--primary;
    }
  }
  &__wrapper {
    @include gridFixed(2, 3rem);
  }

  &__left {
    width: 60rem;
    padding: 2rem 0;

    &--steps {
      text-align: justify;
      padding-bottom: 1.5rem;
      border-bottom: 2px solid $clr--dark;
      h4,
      p {
        padding: 1rem 0;
      }
    }

    &--nav {
      @include between;
      padding: 1rem 0;
      a {
        color: $clr--dark;
      }
    }

    h3 {
      padding: 2rem 0;
      font-family: $font-secondary;
      color: $clr--primary;
    }
  }

  &__right {
    &--tags {
      font-size: 0.8rem;
      margin-bottom: 20px;
      line-height: 2;

      .tag {
        display: inline-block;
        background: #eee;
        border-radius: 20px;
        padding: 2px 10px;
        font-size: 0.75rem;
        margin: 2px 2px 0 0;
      }
    }
    &--recipes {
      h3 {
        font-family: $font-secondary;
        padding: 1rem 0;
        color: $clr--primary;
      }

      .cards {
        display: flex;
        padding: unset;
        gap: 1rem;
        img {
          width: 200px;
          height: 200px;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;

          li {
            display: flex;
            align-items: center;
          }
          i {
            font-size: 20px;
            color: $clr--primary;
          }
        }
        a {
          color: $clr--dark;
        }
        h4 {
          font-family: $font-secondary;
          margin-bottom: 0.5rem;
        }
        .small {
          font-size: 20px;
          color: $clr--primary;
        }
      }
    }
  }
}
