@use "../abstract/" as *;

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

$font-primary: "Mulish", sans-serif;
$font-secondary: "Playfair Display", serif;

h1 {
  font-size: clamp(3rem, 7vw, 4.5rem);
  font-weight: 600;
}

h2 {
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-weight: 600;
}
h3 {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  font-weight: 600;
}
h4 {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: 600;
}
h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
h6 {
  font-size: 0.75rem;
}

p,
a {
  font-size: 1.25rem;
}
